# Датасет не загружать
/data/X_nup.xlsx
/data/X_bp.xlsx
/data/data_merged.xlsx
/data/data_cleaned.xlsx

# Вспомогательные файлы ноутбука не загружать
/notebooks/.ipynb_checkpoints/

# Модели тоже не загружать
/models/*
!/models/readme.txt
